.sidebar {
    width: 200px;
    background: #1e3b22;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.sidebar .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 10px 10px 10px;
    height: auto; /* or auto */
}

.sidebar .logo-img {
    width: 180px;      /* adjust as needed */
    object-fit: contain;
    display: block;
}

.sidebar .logo-text {
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.sidebar a {
    color: #cbd5e1;
    text-decoration: none;
    display: block;
    padding: 15px 25px;
}

.sidebar a:hover {
    background: #365533;
    color: #fff;
}

.sidebar a.active {
    background: #0ea5e9;
    color: white;
}
